[submodule "chimney"]
	path = chimney
	url = https://github.com/oscarcederberg/adventcollab2020-chimney
[submodule "coffee"]
	path = coffee
	url = https://github.com/Jvarca77/BlueDoor
[submodule "yule"]
	path = yule
	url = https://github.com/AxolStudio/NGTankmas2022Game
